<div id="sidebar" class="active">
    <div class="sidebar-header">
      <h3>Online Gallery Admin</h3>
      <p class="text-muted mb-0">Dashboard</p>
    </div>
    
    <ul class="list-unstyled components">
      <li routerLinkActive="active">
        <a routerLink="/admin/dashboard">
          <i class="bi bi-speedometer2"></i>
          Dashboard
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/users">
          <i class="bi bi-people"></i>
          User Management
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/artworks">
          <i class="bi bi-image"></i>
          Artwork Management
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/">
          <i class="bi bi-credit-card"></i>
          Events Transactions
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/payments">
          <i class="bi bi-credit-card"></i>
          Payment Transactions
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/settings">
          <i class="bi bi-gear"></i>
          Settings
        </a>
      </li>
    </ul>
  </div>