<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galerie en ligne</title>
</head>
<body>

  <!-- Conteneur principal -->
    <div class="home-container">
        <app-navbar></app-navbar>
        <!-- Contenu principal -->
        <div class="content">
            <div class="text-section">
                <h1>Découvrez une Galerie Unique</h1>
                <p>Explorez une collection exceptionnelle d'œuvres d'art, partagez vos créations et plongez dans un monde visuel fascinant.</p>
                <button class="explore-btn">Explorer</button>
            </div>
            <div class="image-section">
                <img src="./artwork.webp" alt="Illustration d'art">
            </div>
        </div>

    </div>

</body>
</html>
